*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display:none !important;
}
body{
    background: #333;
    display: flex;
    flex-direction: column;
    font-family: 'Bangers', cursive;
    align-items: center;
    color: white;
}

.logo{
    font-size: 4rem;
    letter-spacing: 1px;
    padding: 2rem;
}

.game{
    width: 600px;
    height: 600px;
    background: url('../images/ring.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
.ring{
    height: 400px;
}
.menu{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.action{
    width:180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.4);
    border: 2px solid black;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.action img{
    filter: opacity(.7);
    transition: all .4s ease-in-out;

}
.action:hover{
    background: white;
    cursor: pointer;
}
.action:hover img{
    filter: none;
}

.healthbars{
    display: flex;
    justify-content: space-between;
}
.healthbar{
    padding: .5rem;
    height: 90px;
}
.healthbar--bg{
    position: relative;
    background: red;
    width: 120px;
    height: 15px;
}

.healthbar--progress{
    width: 100%;
    height: 100%;
    background: green;
    position: absolute;
    top:0;
    left:0;
    transition: width .6s ease;
}

.healthbar--label{
    padding: 5px;
    letter-spacing: 2px;
}

.healthbar--label.right{
    text-align:right;
}

#fightInfo{
    letter-spacing: 3px;
    padding: 1rem;
    font-size: 3rem;
}
#fight{
    position: relative;
    height: calc(100% - 90px);
}
.hand{
    position: absolute;
    z-index: 2;
}

.hand-player1{
    left: 0;
    bottom: 0;
}

.hand-player2{
    right: 0;
    top:0;
    transform: rotate(180deg);
}

.end-titles--background{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.end-titles--header{
    font-size: 4rem;
    letter-spacing: 4px;
}
.end-titles--header.win{
    color: green;
}
.end-titles--header.lose{
    color: red;
}

.end-titles--new_game{
    padding: 2rem;
    background: rgba(255,255,255,.6);
    border:none;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.6);
    border-radius: 5px;
    font-size: 2rem;
    color: black;
    transition: all .3s ease-in-out;
}
.end-titles--new_game:hover{
    background: rgba(255,255,255,.9);

}